
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
input{
    border: solid black 1px;
    border-radius: 40px;
    width: 50%;
    text-align: center;
    margin-top:5%;
}
.regitered{
    font-size: 0.5em;
    color: white;
    margin-top:5%;
}

#contain {
    width: 35vw;
    height: 80vh;
    background: rgb(173, 25, 25);
}

